.BasketContainer {
    margin-top: 8vh ;
    width: 100%;
    max-width: 1600px !important;
    padding: 0px !important;
    &Logo {
        font-size: 3rem !important;
        color: #000000;
        font-family: Lombardia, sans-serif !important;
        text-decoration:underline 2px solid black;
    }
    &Main {
        margin-top: 5%;
        max-width: 1600px !important;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between !important;
        padding: 0 !important;
    }
  }