.container {
    max-width: 4000px !important;
    width: 20% !important;
}
.selectItem {
    font-family: Lombardia, sans-serif !important;
    font-size: 1.4rem !important;
    text-align: center;
}
.selectLabel {
    font-family: Lombardia, sans-serif !important;
    font-size: 1.4rem !important;
    text-align: center !important;
    color: black !important;
}